{% extends 'base.html.twig' %}


{% block body %}
<html>

<head>
    <title>GoLobe</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/homepage.css">
</head>

<body>
    <main>
        <div class="row">
            <div class="col-6">
                <img id="hmpage" src="assets/IMG/homepage.jpg" alt="homepageville" height="540px">
            </div>
            <div class="col-6">
    <h3 id="explore">EXPLORE THE WORLD</h3>
    <h1 class="main-title" data-text="Its Time To Travel Around The World">Its Time<br>To Travel Around<br>The World</h1>
    <br>
    <p id="check">Check Off the Ultimate Global Travel Checklist With your Travel Partner!
        <br>Make your vacation a fun, exciting, and unforgettable experience.</p>
    <br>
    
    <button type="button" class="btn btn-primary">Discover Now</button>
</div>

        </div>

        <section class="content">
            <h2 id="popular">Our Destinations</h2>
            <div class="destinations">
                <a href="#barcelona" class="card">
                    <img class="card-img-top" src="assets/IMG/barcelona.jpg" alt="Card1">
                    <div class="card-body">
                        <h5 class="card-title">Barcelona, Spain</h5>
                        <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation."</p>
                    </div>
                </a>
                <a href="#tokyo" class="card">
                    <img class="card-img-top" src="assets/IMG/tokyo.jpg" alt="Card2">
                    <div class="card-body">
                        <h5 class="card-title">Tokyo, Japan</h5>
                        <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation."</p>
                    </div>
                </a>
                <a href="#helsinki" class="card">
                    <img class="card-img-top" src="assets/IMG/helsinki.jpg" alt="Card3">
                    <div class="card-body">
                        <h5 class="card-title">Helsinki, Finland</h5>
                        <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation."</p>
                    </div>
                </a>
                <a href="#bali" class="card">
                    <img class="card-img-top" src="assets/IMG/bali.jpg" alt="Card4">
                    <div class="card-body">
                        <h5 class="card-title">Bali, Indonesia</h5>
                        <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation."</p>
                    </div>
                </a>
            </div>
        </section>
    </main>
</body>

</html>

{% endblock %}

