{% extends 'base.html.twig' %}

{% block title %}Tokyo Welcome!{% endblock %}

{% block body %}
<h1 class="dalal">Welcome to Tokyo! 東京へようこそ</h1>
<h3 class="taneu">Choose your activities</h3>

<div class="tokyo">
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col-4">
    <div class="card h-100">
      <img src="assets/IMG/tkManga.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Manga's museum</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. </p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary"><button class="cartess">Add to cart</button></small>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card h-100">
      <img src="assets/IMG/tkSumo.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ryogoku - Sumo's center</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary"><button class="cartess">Add to cart</button></small>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card h-100">
      <img src="assets/IMG/tkNinja.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ninja's house of Tokyo</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary"><button class="cartess">Add to cart</button></small>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card h-100">
      <img src="assets/IMG/tkParcA.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Dome amusement park</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary"><button class="cartess">Add to cart</button> </small>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card h-100">
      <img src="assets/IMG/tkHK.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sanrio Puroland</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary"><button class="cartess">Add to cart</button></small>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card h-100">
      <img src="assets/IMG/tkOcean.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mikurajima</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. </p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary"><button class="cartess">Add to cart</button></small>
      </div>
    </div>
  </div>
</div>
</div>
<br>
<br>
{% endblock %}
