{% extends 'base.html.twig' %}

{% block title %}Hello RGPDController!{% endblock %}

{% block body %}
<h1 id="titreRGPD">REGLEMENTATION GENERALE DE LA PROTECTIONS DES DONNEES PERSONNELLES</h1>
<div class="row" id="rgpd">

    <div class="col-6">
        <ul>
        
        <li> CHAPITRE I - Dispositions générales Article premier - Objet et objectifs</li>
        <li> Article 2 - Champ d'application matériel</li>
        <li> Article 3 - Champ d'application territorial</li>
        <li> Article 4 - Définitions</li>
        <li> CHAPITRE II - Principes</li>
        <li> Article 5 - Principes relatifs au traitement des données à caractère personnel</li>
        <li> Article 6- Licéité du traitement</li>
        <li> Article 7 Conditions applicables au consentement</li>
        <li> Article 8 - Conditions applicables au consentement des enfants en ce qui</li>
        concerne les services de la société de l'information</li>
        <li> Article 72 - Procédure</li>
        <li> Article 73 - Président</li>
        <li> Article 74 -Missions du président</li>
        <li>Article 75 - Secrétariat</li>
        <li> Article 76 - Confidentialité</li>
        <li> CHAPITRE VIII - Voies de recours,responsabilité et sanctions </li>
        <li>Article 77 - Droit d'introduire une réclamation auprès d'une autorité decontrôle</li>
        <li>Article 78 - Droit à un recours juridictionnel effectif contre une autorité de contrôle</li>
        <li>Article 79 - Droit à un recours juridictionnel effectif contre un responsable du traitement ou un</li>
        sous-traitant
        <li>Article 80 -Représentation des personnes concernées</li>
        <li> Article 81 - Suspension d'une action</li>
        <li> Article 82 - Droit à réparation etresponsabilité</li>
        <li> Article 83 - Conditions générales pour imposer des amendes administratives</li>
        <li> Article 84 - Sanctions</li>
        <li> CHAPITRE IX - Dispositions relatives à des situations particulières de traitement</li>
        <li>Article 85 - Traitement et liberté d'expression et d'information</li>
        <li>Article 86 - Traitement et accès du public aux documents officiels</li>
        <li>Article 87 - Traitement du numéro d'identification national</li>
        <li> Article 88 - Traitement de données dans le cadre des relations de travail</li>
        <li> Article 89 - Garanties et dérogations applicables au traitement à des fins archivistiques dans</li>
        l'intérêtpublic, à des fins de recherche scientifique ou historique ou à des fins statistiques
        <li>Article 90 - Obligations desecret</li>
        <li>Article 96 - Relation avec les accords conclus antérieurement</li>
        <li> Article 97 - Rapports de laCommission.</li>
        <li> Article 98 - Réexamen d'autres actes juridiques de l'Union relatifs à la protection desdonnées</li>
        <li>Article 99 - Entrée en vigueur et application</li>
    </ul>
</div>

<div class="col-6">
    <ul>
        
        <li> CHAPITRE I - Dispositions générales</li>
        <li> Article premier - Objet et objectifs</li>
        <li> Article 2 - Champ d'application matériel</li>
        <li> Article 3 - Champ d'application territorial</li>
        <li> Article 4 - Définitions</li>
        <li>CHAPITRE II - Principes</li>
        <li>Article 5 - Principes relatifs au traitement des données à caractère personnel</li>
        <li> Article 6- Licéité du traitement</li>
        <li>Article 7 - Conditions applicables au consentement</li>
        <li> Article 8 - Conditions applicables au consentement desenfants en ce qui concerne les services de la société
            de l'information</li>
            <li> Article 72 - Procédure</li>
            <li>Article 73 - Président</li>
            <li>Article 74 - Missions du président</li>
            <li>Article 75 - Secrétariat</li>
            <li> Article 76 - Confidentialité</li>
        <li> CHAPITRE VIII - Voies de recours, responsabilité et sanctions</li>
        <li> Article 77 - Droit d'introduire une réclamation auprès d'une autorité de contrôle</li>
        <li> Article 78 - Droit à un recoursjuridictionnel effectif contre une autorité de contrôle</li>
        <li> Article 79 - Droit à un recours juridictionnel effectifcontre un responsable du traitement ou un
            sous-traitant</li>
        <li>Article 80 - Représentation des personnesconcernées</li>
        <li>Article 81 - Suspension d'une action</li>
        <li>Article 82 - Droit à réparation et responsabilité</li>
        <li>Article 83 -Conditions générales pour imposer des amendes administratives</li>
        <li>Article 84 - SanctionsCHAPITRE IX - Dispositions relatives à des situations particulières de traitement</li>
        <li>Article 85 - Traitement et liberté d'expression et d'information</li>
        <li>Article 86 - Traitement et accès du public auxdocuments officiels</li>
        <li>Article 87 - Traitement du numéro d'identification national</li>
        <li>Article 88 - Traitement de donnéesdans le cadre des relations de travail</li>
        <li>Article 89 - Garanties et dérogations applicables au traitement à des finsarchivistiques dans l'intérêt
            public, à des fins de recherche scientifique ou historique ou à des finsstatistiques</li>
            <li>Article 90 - Obligations de secret</li>
            <li>Article 96 - Relation avec les accords conclusantérieurement</li>
            <li>Article 97 - Rapports de la Commission.</li>
            <li>Article 98 - Réexamen d'autres actes juridiques de l'Union relatifs à la protection des données</li>
            <li>Article 99 - Entrée en vigueur et application</li>
        </ul>
    </div>
    
</div>
    {% endblock %}