{% extends 'base.html.twig' %}

{% block title %}Bali!{% endblock %}

{% block body %}

<h1 class="animated-title">Welcome to Bali! </h1>
<h2 class="dalal">Selamat Datang di Bali</h2>
<h5 class="dalal">Prepare to fall in love with its nightlife, irresistible boutiques and exceptional gastronomy.</h5><br>
<h3 class="animated-titles"><b>Bali:</b> popular activities
<div class="star-rating">

        <span class="star" data-value="1">&#9733;</span>
        <span class="star" data-value="2">&#9733;</span>
        <span class="star" data-value="3">&#9733;</span>
        <span class="star" data-value="4">&#9733;</span>
        <span class="star" data-value="5">&#9733;</span>
    </div>
</h3>

<div class="tokyo">
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="assets/IMG/blF.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><span title="Duration 1.5 hrs and Valid for 1 day">Uluwatu Kecak and Fire Dance</span></h5>
        <p class="card-text">Watch Balinese natives perform mesmerizing Kecak dances, complete with swirling flames and traditional costumes.</p>
      </div>
      <p class="xaliss">Price: 60€</p>
      <div class="card-footer">
        <small class="text-body-secondary"><button class="button" style="vertical-align:middle"><span>Add</span></button></small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="assets/IMG/blMB.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><span title="Duration 7 hrs and Valid for 1 day">Mont Batur</span></h5>
        <p class="card-text">Admire the best views of Bali on this early morning hike to Batur Volcano. Contemplate an unforgettable sunrise once at the summit.</p>
      </div>
        <p class="xaliss">Price: 30€</p>
      <div class="card-footer">
        <small class="text-body-secondary"><button class="button" style="vertical-align:middle"><span>Add</span></button></small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="assets/IMG/blDolphin.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><span title="Duration 2 hrs and Valid for 3 days">Lovina - Bali</span></h5>
        <p class="card-text">Excursion to the north of Bali to see dolphins in their natural habitat, swim alongside them and go snorkeling in Lovina.</p>
      </div>
        <p class="xaliss">Price: 220€</p>
      <div class="card-footer">
        <small class="text-body-secondary"><button class="button" style="vertical-align:middle"><span>Add</span></button></small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="assets/IMG/blQuad.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><span title="Duration 2 hrs and Valid for 1 day">Quad Bike Adventure in Ubud</span></h5>r
        <p class="card-text">Embark on an exhilarating quad bike adventure through picturesque landscapes, followed by relaxation at the Sunset Cretya Pool.</p>
      </div>
      <p class="xaliss">Price: 40€</p>
      <div class="card-footer">
        <small class="text-body-secondary"><button class="button" style="vertical-align:middle"><span>Add</span></button></small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="assets/IMG/blSwim.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><span title="Duration 5 hrs and Valid for 1 week">Manta Point Snorkeling</span></h5>
        <p class="card-text">Take a full-day tour from Nusa Penida, swim, snorkel and encounter the magnificent Manta Rays.</p>
      </div>
      <p class="xaliss">Price: 325€</p>
      <div class="card-footer">
        <small class="text-body-secondary"><button class="button" style="vertical-align:middle"><span>Add</span></button></small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="assets/IMG/blTemple.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><span title="Duration 5 hrs and Valid for 1 week">Visit Besakih Temple</span></h5>
        <p class="card-text">Take a private tour and take magical photos of the Gates of Heaven in Pura Lempuyang, with the majestic Mount Agung as a backdrop.</p>
      </div>
      <p class="xaliss">Price: 50€</p>
      <div class="card-footer">
        <small class="text-body-secondary"><button class="button" style="vertical-align:middle"><span>Add</span></button></small>
      </div>
    </div>
  </div>
</div>
</div>
<br>
<br>
<br>
<br>
{% endblock %}
