{% extends 'base.html.twig' %}

{% block title %}Mariahotel!{% endblock %}

{% block body %}

<div><h1 class="animated-title">The Hotel Maria</h1></div>
<div class="contianer">
        <div class="item"><img src="assets/IMG/bl3.jpg" alt=""></div>
        <div class="item"><img src="assets/IMG/cherry-blossoms-spring-chureito-pagoda-fuji-mountain-japan.jpg" alt=""></div>
        <div class="item"><img src="assets/IMG/bl2.jpg" alt=""></div>
        <div class="item"><img src="assets/IMG/esAqua.jpg" alt=""></div>
        <div class="item"><img src="assets/IMG/tkOcean.jpg" alt=""></div>
        <div class="item"><img src="assets/IMG/hlOB.jpg" alt=""></div>
        <div class="item"><img src="assets/IMG/tkParcA.jpg" alt=""></div>
        <div class="item"><img src="assets/IMG/hk6.jpg" alt=""></div>
        <div class="item"><img src="assets/IMG/TKY4.jpg" alt=""></div>
        <div class="item"><img src="assets/IMG/hk5.jpg" alt=""></div>
      </div>
<br><br>

{% endblock %}
