{% extends 'base.html.twig' %}

{% block title %}The Hotel Maria - Preferred Hotels & Resorts{% endblock %}

{% block body %}

<div>
  <h1 class="animated-title">The Hotel Maria - Preferred Hotels & Resorts
    <div class="stares">
      <span class="stare">&#9733;</span>
      <span class="stare">&#9733;</span>
      <span class="stare">&#9733;</span>
      <span class="stare">&#9733;</span>
      <span class="stare">&#9733;</span>
    </div>
  </h1>
</div>

<script src="https://cdn.lordicon.com/lordicon.js"></script>
<lord-icon src="https://cdn.lordicon.com/tdtlrbly.json" trigger="hover" style="width:30px;height:30px">
</lord-icon><span>Mariankatu 23, Kruununhaka, 00170 Helsinki, Finlande – Excellent emplacement – Proche du métro</span>
<div class="contianer">
  <div class="item"><img src="assets/IMG/hotelMaria/HM1.jpg" alt="face hotel"></div>
  <div class="item"><img src="assets/IMG/hotelMaria/HM3.jpg" alt="face hotel"></div>
  <div class="item"><img src="assets/IMG/hotelMaria/HM5.jpg" alt="inside hotel"></div>
  <div class="item"><img src="assets/IMG/hotelMaria/HM2.jpg" alt="inside hotel"></div>
  <div class="item"><img src="assets/IMG/hotelMaria/HM1.webp" alt="room"></div>
  <div class="item"><img src="assets/IMG/hotelMaria/HM6.jpg" alt="restaurant"></div>
  <div class="item"><img src="assets/IMG/hotelMaria/HM13.webp" alt="pool"></div>
  <div class="item"><img src="assets/IMG/hotelMaria/HM2.webp" alt="pool"></div>
  <div class="item"><img src="assets/IMG/hotelMaria/HM9.jpg" alt="sauna"></div>
  <div class="item"><img src="assets/IMG/hotelMaria/HM3.webp" alt="sport"></div>
</div>
<hr>

<div class="amenities">
  <div class="amenity">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <lord-icon src="https://cdn.lordicon.com/tckirjgy.json" trigger="hover" style="width:100px;height:100px">
    </lord-icon>
    <span class="vibrate">Superb breakfast</span>
  </div>
  <div class="amenity">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <lord-icon src="https://cdn.lordicon.com/mwgfcdaj.json" trigger="hover" style="width:100px;height:100px">
    </lord-icon>
    <span class="vibrate">Restaurant</span>
  </div>
  <div class="amenity">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <lord-icon src="https://cdn.lordicon.com/nppxdkvw.json" trigger="hover" style="width:100px;height:100px">
    </lord-icon>
    <span class="vibrate">Sport</span>
  </div>
  <div class="amenity">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <lord-icon src="https://cdn.lordicon.com/vypcpgwt.json" trigger="hover" style="width:100px;height:100px">
    </lord-icon>
    <span class="vibrate">On-site parking</span>
  </div>
  <div class="amenity">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <lord-icon src="https://cdn.lordicon.com/jqnkycbd.json" trigger="hover" style="width:100px;height:100px">
    </lord-icon>
    <span class="vibrate">Pets allowed</span>
  </div>
  <div class="amenity">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <lord-icon src="https://cdn.lordicon.com/iqtrmdyz.json" trigger="hover" style="width:100px;height:100px">
    </lord-icon>
    <span class="vibrate">Private bathroom</span>
  </div>
  <div class="amenity">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <lord-icon src="https://cdn.lordicon.com/lzlcrlfm.json" trigger="hover" style="width:100px;height:100px">
    </lord-icon>
    <span class="vibrate">Free Wi-Fi</span>
  </div>
  <div class="amenity">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <lord-icon src="https://cdn.lordicon.com/mgszhlom.json" trigger="hover" style="width:100px;height:100px">
    </lord-icon>
    <span class="vibrate">View</span>
  </div>
  <div class="amenity">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <lord-icon src="https://cdn.lordicon.com/fzudyijl.json" trigger="hover" style="width:100px;height:100px">
    </lord-icon>
    <span class="vibrate">Room Service</span>
  </div>
  <div class="amenity">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <lord-icon src="https://cdn.lordicon.com/jrxatxqu.json" trigger="hover" style="width:100px;height:100px">
    </lord-icon>
    <span class="vibrate">Non-smoking rooms</span>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-6">
    <section class="hotel-info">
      <h1 class="animated-title">The Hotel Maria - Preferred Hotels & Resorts</h1>
      <p>Enjoy VIP treatment with exclusive service at The Hotel Maria - Preferred Hotels & Resorts</p>
      <p>Conveniently located in Helsinki, Hotel Maria - Preferred Hotels & Resorts offers air-conditioned rooms with free WiFi, private parking and room service. This 5-star hotel offers a 24-hour front desk and concierge services. It has a terrace, a bar and a shared lounge.</p>
      <p>All bedrooms include a wardrobe. The private bathroom comes with a shower and free toiletries. Some rooms include a kitchen equipped with a refrigerator. The units are equipped with a flat-screen satellite TV and an iPad.</p>
      <p>The on-site restaurant serves local, international and European cuisine. Vegetarian, dairy-free and halal options are also available upon request.</p>
      <p>Popular points of interest near Hotel Maria - Preferred Hotels & Resorts include Helsinki Cathedral, Central Station and Music Center.</p>
      <p>Couples particularly appreciate the location of this establishment. They give it a score of 9.3 for a stay for two.</p>
      <span>The distances indicated in the description of the establishment are calculated with © OpenStreetMap.</span>

      <ul>
        <li><i class="icon-wifi"></i> Free Wi-Fi</li>
        <li><i class="icon-air-conditioner"></i> Air-conditioned rooms with flat-screen TV</li>
        <li><i class="icon-eco"></i> Eco-friendly hotel</li>
        <li><i class="icon-gym"></i> Gym</li>
        <li><i class="icon-restaurant"></i> Restaurant and bar</li>
        <li><i class="icon-family"></i> Family rooms</li>
        <li><i class="icon-disabled"></i> Equipment for disabled people</li>
        <li><i class="icon-check-in"></i> Express check-in/out service</li>
      </ul>
    </section>
  </div>
  <div class="col-3">
    <section class="hotel-info">
      <h1 class="xalis">Around the hotel</h1>
      <p class="text2">Activities</p>
      <ul>
        <li><i class="tree"></i> Kaivopuisto Park  1km</li>
        <li><i class="tree"></i> Suomenlinna Sea Fortress   500m</li>
        <li><i class="tree"></i> National Museum of Finland     250m</li>
        <li><i class="tree"></i> Design Museum   2.5km</li>
      </ul>
      <p class="text2">Nearby places</p>
      <ul>
        <li><i class="tree"></i> Old Church Park    700m</li>
        <li><i class="tree"></i>Amos Rex Art Museum    300m</li>
        <li><i class="tree"></i> Havis Amanda    600m</li>
        <li><i class="tree"></i> Esplanade Park    300m</li>
      </ul>
      <p class="text2">Restaurants and cafes</p>
      <ul>
        <li><i class="tree"></i> Ravintola Viet Balo    20m</li>
        <li><i class="tree"></i> Bar Cafe Wanzetta</li>
        <li><i class="tree"></i> Bar Cafe Papu Cafe</li>
      </ul>
      <p class="text2">Public transport</p>
      <ul>
        <li><i class="tree"></i> University of Helsinki Metro Station</li>
        <li><i class="tree"></i> Maisemajuna</li>
        <li><i class="tree"></i> Hakaniemi Metro Station</li>
      </ul>
    </section>
  </div>
  <div class="col-3">
    <section class="hotel-info">
      <h1 class="xalis">Facilities in the hotel</h1>
      <p class="text2">Services</p>
      <ul>
        <li><i class="tree"></i>Luggage storage</li>
        <li><i class="tree"></i>Reception open 24/7</li>
        <li><i class="tree"></i> Laundry/laundry</li>
      </ul>
      <p class="text2">Restauration</p>
      <ul>
        <li><i class="tree"></i>Breakfast in room</li>
        <li><i class="tree"></i>Bar</li>
        <li><i class="tree"></i>Minibar</li>
        <li><i class="tree"></i>Restaurant</li>
      </ul>
      <p class="text2">Well-being</p>
      <ul>
        <li><i class="tree"></i>Fitness center</li>
        <li><i class="tree"></i> Sauna</li>
      </ul>
      <p class="text2">Room</p>
      <ul>
        <li><i class="tree"></i>Household linens</li>
        <li><i class="tree"></i>Wardrobe or wardrobe</li>
      </ul>
      <p class="text2">Public transport</p>
      <ul>
        <li><i class="tree"></i>View of an interior courtyard</li>
        <li><i class="tree"></i>City view</li>
      </ul>
    </section>
  </div>
</div>


<div class="row">
  <div class="col-6">
    <div class="house-rules">
      <h1 class="xalis">House Rules</h1>
      <p>The Hotel Maria - Preferred Hotels & Resorts takes special requests. Add yours to the next step!</p>
      <div class="rule-section">
        <div class="rule">
          <h2>Arrival</h2>
          <p>From 4:00 p.m.<br>You must show a photo ID and credit card upon check-in.</p>
        </div>
        <div class="rule">
          <h2>Departure</h2>
          <p>Until 12:00</p>
        </div>
        <div class="rule">
          <h2>Cancellation / Prepayment</h2>
          <p>Cancellation and prepayment policies vary depending on accommodation type. Please check the <a
              href="#">terms</a> that apply to each option when making your choice.</p>
        </div>
        <div class="rule">
          <h2>Children and beds</h2>
          <p><strong>Conditions relating to children</strong><br>
            All children are welcome.<br>
            Children over 13 years old will be charged the adult rate at this property.<br>
            To see prices and information associated with your group size, please add the number of children you are
            traveling with and their ages to your search.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="reservation">
      <h1 class="resa">Room Reservation</h1>
      <form>
        <div class="room-option">
          <label>1 room for 1 person</label>
          <select>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </div>
        <div class="room-option">
          <label>1 bedroom for 2 people</label>
          <select>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </div>
        <div class="room-option">
          <label>2 bedrooms for 2 people</label>
          <select>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </div>
        <div class="room-option">
          <label>2 bedrooms for 3 people</label>
          <select>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            
          </select>
        </div>
        <button class="buttonQQQ" style="vertical-align:middle"><span>Book</span></button>
      </form>
    </div>
  </div>


</div>
{% endblock %}