{% extends 'base.html.twig' %}

{% block title %}Hello NeedHelpController!{% endblock %}

{% block body %}
<div class="contact-container">
        <h1>Contact us</h1>
        <p>We are at your disposal throughout your experience</p>
        <p>Available when you need them, our teams are committed to answering all your questions as soon as possible by phone and on social networks</p>
        
        <div class="contact-method">
            <img src="phone-icon.png" alt="Téléphone">
            <div class="contact-info">
                <p>08 09 01 02 03</p>
                <p>Monday to Friday from 10 am to 6 pm</p>
            </div>
        </div>

        <div class="contact-method">
            <img src="twitter-icon.png" alt="Twitter">
            <div class="contact-info">
                <p>Golobe</p>
                <p>Monday to Friday from 10 am to 6 pm</p>
            </div>
        </div>

        <div class="contact-method">
            <img src="instagram-icon.png" alt="Instagram">
            <div class="contact-info">
                <p>Golobe</p>
                <p>Monday to Friday from 10 am to 6 pm</p>
            </div>
        </div>

        <div class="contact-method">
            <img src="facebook-icon.png" alt="Facebook">
            <div class="contact-info">
                <p>Golobe</p>
                <p>Monday to Friday from 10 am to 6 pm</p>
            </div>
        </div>
    </div>
{% endblock %}
