{% extends 'base.html.twig' %}

{% block title %}Ocean Drive Barcelona{% endblock %}

{% block body %}

<div>
  <h1 class="animated-title">Ocean Drive Barcelona
    <div class="stares">
      <span class="stare">&#9733;</span>
      <span class="stare">&#9733;</span>
      <span class="stare">&#9733;</span>
      <span class="stare">&#9733;</span>
    </div>
  </h1>
</div>

<script src="https://cdn.lordicon.com/lordicon.js"></script>
<lord-icon src="https://cdn.lordicon.com/tdtlrbly.json" trigger="hover" style="width:30px;height:30px">
</lord-icon><span>100-8558 Préfecture de Tokyo, Chiyoda-ku Uchisaiwai-cho 1-1-1, Japon – Excellent emplacement - Accès à la gare et au métro</span>
<div class="contianer">
  <div class="item"><img src="assets/IMG/imperialhotel/Imperial1.jpg" alt="face hotel"></div>
  <div class="item"><img src="assets/IMG/imperialhotel/Imperial2.jpg" alt="face hotel"></div>
  <div class="item"><img src="assets/IMG/imperialhotel/Imperial3.jpg" alt="face hotel"></div>
  <div class="item"><img src="assets/IMG/imperialhotel/Imperial4.jpg" alt="face hotel"></div>
  <div class="item"><img src="assets/IMG/imperialhotel/Imperial5.jpg" alt="face hotel"></div>
  <div class="item"><img src="assets/IMG/imperialhotel/Imperial6.jpg" alt="face hotel"></div>
  <div class="item"><img src="assets/IMG/imperialhotel/Imperial7.jpg" alt="face hotel"></div>
  <div class="item"><img src="assets/IMG/imperialhotel/Imperial8.jpg" alt="face hotel"></div>
  <div class="item"><img src="assets/IMG/imperialhotel/Imperial9.jpg" alt="face hotel"></div>
  <div class="item"><img src="assets/IMG/imperialhotel/Imperial10.jpg" alt="face hotel"></div>
  <div class="item"><img src="assets/IMG/imperialhotel/Imperial11.jpg" alt="face hotel"></div>
  <div class="item"><img src="assets/IMG/imperialhotel/Imperial12.jpg" alt="face hotel"></div>
  <div class="item"><img src="assets/IMG/imperialhotel/Imperial13.jpg" alt="face hotel"></div>
  <div class="item"><img src="assets/IMG/imperialhotel/Imperial14.jpg" alt="face hotel"></div>
  
  
</div>
<hr>

<div class="amenities">
  <div class="amenity">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <lord-icon src="https://cdn.lordicon.com/tckirjgy.json" trigger="hover" style="width:100px;height:100px">
    </lord-icon>
    <span class="vibrate">Superb breakfast</span>
  </div>
  <div class="amenity">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <lord-icon src="https://cdn.lordicon.com/mwgfcdaj.json" trigger="hover" style="width:100px;height:100px">
    </lord-icon>
    <span class="vibrate">Restaurant</span>
  </div>
  <div class="amenity">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <lord-icon src="https://cdn.lordicon.com/nppxdkvw.json" trigger="hover" style="width:100px;height:100px">
    </lord-icon>
    <span class="vibrate">Sport</span>
  </div>
  <div class="amenity">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <lord-icon src="https://cdn.lordicon.com/vypcpgwt.json" trigger="hover" style="width:100px;height:100px">
    </lord-icon>
    <span class="vibrate">On-site parking</span>
  </div>
  <div class="amenity">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <lord-icon src="https://cdn.lordicon.com/jqnkycbd.json" trigger="hover" style="width:100px;height:100px">
    </lord-icon>
    <span class="vibrate">Pets allowed</span>
  </div>
  <div class="amenity">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <lord-icon src="https://cdn.lordicon.com/iqtrmdyz.json" trigger="hover" style="width:100px;height:100px">
    </lord-icon>
    <span class="vibrate">Private bathroom</span>
  </div>
  <div class="amenity">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <lord-icon src="https://cdn.lordicon.com/lzlcrlfm.json" trigger="hover" style="width:100px;height:100px">
    </lord-icon>
    <span class="vibrate">Free Wi-Fi</span>
  </div>
  <div class="amenity">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <lord-icon src="https://cdn.lordicon.com/mgszhlom.json" trigger="hover" style="width:100px;height:100px">
    </lord-icon>
    <span class="vibrate">View</span>
  </div>
  <div class="amenity">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <lord-icon src="https://cdn.lordicon.com/fzudyijl.json" trigger="hover" style="width:100px;height:100px">
    </lord-icon>
    <span class="vibrate">Room Service</span>
  </div>
  <div class="amenity">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <lord-icon src="https://cdn.lordicon.com/jrxatxqu.json" trigger="hover" style="width:100px;height:100px">
    </lord-icon>
    <span class="vibrate">Non-smoking rooms</span>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-6">
    <section class="hotel-info">
      <h1 class="animated-title">Ocean Drive Barcelona</h1>
      <p>Enjoy VIP treatment with exclusive service at Ocean Drive Barcelona</p>
      <p>Consisting of 2 buildings, The Okura Tokyo features a garden and a bar. This property offers a restaurant, a 24-hour front desk, room service and free Wi-Fi. Concierge, ticketing and currency exchange services are available on site.</p>
      <p>All rooms feature air conditioning, a flat-screen TV with satellite channels, a kettle and a desk. The private bathroom comes with a bath, a hairdryer, a bidet and free toiletries.</p>
      <p>Occupant les étages 28 à 40, la Prestige Tower propose des chambres avec vue sur le paysage urbain. Si vous réservez une chambre avec accès au salon club dans l'aile Heritage Wing, vous pourrez profiter du salon club. Les chambres spacieuses de l'aile Heritage Wing comprennent une boisson de bienvenue gratuite, un sauna à vapeur et une baignoire spa.</p>
      <p>Les lieux d'intérêt à proximité de l’établissement The Okura Tokyo incluent le Iino Hall and Conference Centre, le National Diet Building et le Space FS Shiodome. L’aéroport international de Tokyo Haneda, le plus proche, est à 22 km. Vous pourrez profiter d’un service de navette aéroport moyennant des frais supplémentaires.</p>
      <p>Couples particularly appreciate the location of this establishment. They give it a score of <b>8.9</b> for a stay for two.</p>
      <span>The distances indicated in the description of the establishment are calculated with © OpenStreetMap.</span>

      <ul>
        <li><i class="icon-wifi"></i> Free Wi-Fi</li>
        <li><i class="icon-air-conditioner"></i> Air-conditioned rooms with flat-screen TV</li>
        <li><i class="icon-eco"></i> Eco-friendly hotel</li>
        <li><i class="icon-gym"></i> Gym</li>
        <li><i class="icon-restaurant"></i> Restaurant and bar</li>
        <li><i class="icon-family"></i> Family rooms</li>
        <li><i class="icon-disabled"></i> Equipment for disabled people</li>
        <li><i class="icon-check-in"></i> Express check-in/out service</li>
      </ul>
    </section>
  </div>
  <div class="col-3">
    <section class="hotel-info">
      <h1 class="xalis">Around the hotel</h1>
      <p class="text2">Activities</p>
      <ul>
        <li><i class="tree"></i> Sanpun-zaka Monument--1km</li>
        <li><i class="tree"></i> Sakurada Park--500m</li>
        <li><i class="tree"></i> Sony Music Roppongi Museum--250m</li>
        <li><i class="tree"></i> The Former Residence of Naoya Shiga--2.5km</li>
      </ul>
      <p class="text2">Nearby places</p>
      <ul>
        <li><i class="tree"></i> Naemura Yoshinori Monument--700m</li>
        <li><i class="tree"></i> Musee Tomo--300m</li>
        <li><i class="tree"></i> Sen-oku Hakukokan Museum--600m</li>
        <li><i class="tree"></i> NHK Museum of Broadcasting--300m</li>
      </ul>
      <p class="text2">Restaurants and cafes</p>
      <ul>
        <li><i class="tree"></i> All Day Dining Orchid--20m</li>
        <li><i class="tree"></i> Chinese restaurant Tokarin--50m</li>
        <li><i class="tree"></i> Teppanyaki Restaurant Sazanka--120m</li>
      </ul>
      <p class="text2">Public transport</p>
      <ul>
        <li><i class="tree"></i> Shimbashi Station--1.2km</li>
        <li><i class="tree"></i> Tameike Sanno Metro--2.3km</li>
        <li><i class="tree"></i> Kamiyacho Subway--1.8km</li>
      </ul>
    </section>
  </div>
  <div class="col-3">
    <section class="hotel-info">
      <h1 class="xalis">Facilities in the hotel</h1>
      <p class="text2">Services</p>
      <ul>
        <li><i class="tree"></i>Luggage storage</li>
        <li><i class="tree"></i>Reception open 24/7</li>
        <li><i class="tree"></i> Laundry/laundry</li>
      </ul>
      <p class="text2">Restauration</p>
      <ul>
        <li><i class="tree"></i>Breakfast in room</li>
        <li><i class="tree"></i>Bar</li>
        <li><i class="tree"></i>Minibar</li>
        <li><i class="tree"></i>Restaurant</li>
      </ul>
      <p class="text2">Well-being</p>
      <ul>
        <li><i class="tree"></i>Fitness center</li>
        <li><i class="tree"></i> Sauna</li>
      </ul>
      <p class="text2">Room</p>
      <ul>
        <li><i class="tree"></i>Household linens</li>
        <li><i class="tree"></i>Wardrobe or wardrobe</li>
      </ul>
      <p class="text2">Public transport</p>
      <ul>
        <li><i class="tree"></i>View of an interior courtyard</li>
        <li><i class="tree"></i>City view</li>
      </ul>
    </section>
  </div>
</div>


<div class="row">
  <div class="col-6">
    <div class="house-rules">
      <h1 class="xalis">House Rules</h1>
      <p>Ocean Drive Barcelona takes special requests. Add yours to the next step!</p>
      <div class="rule-section">
        <div class="rule">
          <h2>Arrival</h2>
          <p>From 4:00 p.m.<br>You must show a photo ID and credit card upon check-in.</p>
        </div>
        <div class="rule">
          <h2>Departure</h2>
          <p>Until 12:00</p>
        </div>
        <div class="rule">
          <h2>Cancellation / Prepayment</h2>
          <p>Cancellation and prepayment policies vary depending on accommodation type. Please check the <a
              href="#">terms</a> that apply to each option when making your choice.</p>
        </div>
        <div class="rule">
          <h2>Children and beds</h2>
          <p><strong>Conditions relating to children</strong><br>
            All children are welcome.<br>
            Children over 13 years old will be charged the adult rate at this property.<br>
            To see prices and information associated with your group size, please add the number of children you are
            traveling with and their ages to your search.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="reservation">
      <h1 class="resa">Room Reservation</h1>
      <form>
        <div class="room-option">
          <label>1 room for 1 person</label>
          <select>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </div>
        <div class="room-option">
          <label>1 bedroom for 2 people</label>
          <select>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </div>
        <div class="room-option">
          <label>2 bedrooms for 2 people</label>
          <select>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </div>
        <div class="room-option">
          <label>2 bedrooms for 3 people</label>
          <select>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            
          </select>
        </div>
        <button class="buttonQQQ" style="vertical-align:middle"><span>Book</span></button>
      </form>
    </div>
  </div>


</div>
{% endblock %}