{% extends 'base.html.twig' %}


{% block title %}Hello NavbarController!{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="assets/css/bootstrap.css">
<link rel="stylesheet" href="assets/css/navbar.css">

{% endblock %}


{% block body %}
<nav class="navbar navbar-expand" data-bs-theme="light">
    <div class="container-fluid d-flex justify-content-between">
      
      <img src="assets/img/logoSM.svg" alt="Logo" class="navbar-brand" id="logo" href="#">
      
      <div class="d-flex">
      <form>
        <input class="form-control me-sm-2" type="search" placeholder="Search" id="searchButton">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>

        <ul class="navbar-nav me-auto">
         
          <li class="nav-item">
            <a class="nav-link" href="#">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          
        </ul>
      
    </div>
  </div>
  </nav>
{% endblock %}
