<header id="visitor">

  <nav class="navbar navbar-expand" data-bs-theme="light">
    <div class="container-fluid d-flex justify-content-between px-5">
      {# The logo #}
      <a href="/"><img src="{{ asset('assets/img/logoSM.svg')}}" alt="Logo" class="navbar-brand" id="logo" href=""></a>
      {# The search bar #}
      <div class="d-flex w-50">
        <form class="d-flex w-75">
          <input class="form-control me-sm-2 flex-fill" type="search" placeholder="Search" id="searchButton">
        </form>
        {# The two buttons : Sign up and Login #}
        <ul class="navbar-nav me-auto">
          <li class="nav-item mx-2">
            <a class="nav-link button px-2 mx-1 w-100" id="signup" href="/register">Sign up</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link button px-3 mx-1 w-100" id="login" href="/createAccount">Login</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
  
</header>