
<footer id="footer">

    <div class="row">
        <div class="col-1"></div>
        <div class="col-2">
        {# <div class="row"></div> #}
        <ul>
            <li><img src="assets/IMG/logoSM.svg" alt="logo" id="logoFooter"></li>
            <li>
                <a href="https://www.facebook.com/?locale=fr_FR">
                    <img src="assets/IMG/facebook.png" alt="facebook" class="socialMedia">
                </a>
                <a href="https://twitter.com/">
                    <img src="assets/IMG/twitter.png" alt="twitter" class="socialMedia">
                </a>
                <a href="https://www.youtube.com/">
                    <img src="assets/IMG/youtube.png" alt="youtube" class="socialMedia">
                </a>
                <a href="https://www.instagram.com/">
                    <img src="assets/IMG/instagram.png" alt="instagram" class="socialMedia">
                </a>
            </li>
        </ul>
    </div>
    <div class="col-2">
        
        <ul>
            <li class="titleFooter">Our Destinations</li>
            <li><a href="">Japan</a></li>
            <li><a href="">Spain</a></li>
            <li><a href="">Finland</a></li>
        </ul>
    </div>
    <div class="col-2">
        <ul>
            <li class="titleFooter">Our Activities</li>
            <li><a href="">Northern Lights</a></li>
            <li><a href="">Cruising & sailing</a></li>
            <li><a href="">Multi-activities</a></li>
            <li><a href="">Kayak</a></li>
        </ul>
    </div>
    <div class="col-2">
        <ul>
            <li class="titleFooter">Travel Blogs</li>
            <li><a href="">Tokyo Travel Guide</a></li>
            <li><a href="">Barcelone Travel Guide</a></li>
            <li><a href="">Helsinky Travel Guide</a></li>
        </ul>
    </div>
    <div class="col-2">
        <ul>
            <li class="titleFooter">About us</li>
            <li><a href="">Our Story</a></li>
            <li><a href="">Workv with us</a></li>
            
        </ul>
    </div>
    <div class="col-1">
        
    </div>
    
    
</div>

</footer>
