/* Styles pour les titres */
.main-title {
    display: flex;
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: left;
    color: #000;
}

#popular {
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    font-weight: bold;
}

#explore {
    color: #00A0B1;
    font-weight: bold;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
}

#check {
    color: #A1A1A1;
}

/* Styles pour les images */
#hmpage {
    /* margin-left: 300px; */
    width: 100%;
    height: auto;
    max-width: 600px;
    margin-bottom: 20px;
    border-radius: 50%;
    box-shadow: -30.91px 20.91px 3px rgba(172, 226, 255, 1), -30.91px -15.91px 5px rgba(10, 131, 145, 0.39);
    object-fit: cover;
}

/* Styles pour les boutons */
.btn {
    border-radius: 25%;
    background-color: #00A0B1;
    align-self: flex-end;
}

/* Styles pour les sections */
.content {
    padding: 20px;
}

/* Styles pour les destinations */
.destinations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Styles pour les cartes */
.card {
    position: relative;
    width: 100%;
    max-width: 300px; /* Largeur maximale des cartes */
    height: 400px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3), 0 10px 30px rgba(0, 0, 0, 0.29);
}

.card-img-top {
    width: 100%;
    height: 100%; /* Remplir toute la hauteur de la carte */
    object-fit: cover; /* Ajuster l'image sans déformation */
    transition: transform 0.3s ease; /* Animation pour la transformation de l'image */
    position: absolute;
}

.card:hover .card-img-top {
    transform: scale(1.1); /* Zoom sur l'image au survol */
}

.card-title-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond noir transparent */
    color: #ffffff; /* Couleur du texte */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Masquer par défaut */
    transition: opacity 0.3s ease; /* Animation d'apparition */
}

.card:hover .card-title-overlay {
    opacity: 1; /* Afficher au survol */
}

.card-title {
    position: relative;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    background: transparent; /* Fond transparent */
}

.card-text {
    font-size: 14px;
    color: #ffffff; /* Couleur du texte */
    font-style: italic;
    display: none; /* Masquer par défaut */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fond noir transparent */
    padding: 10px;
    text-align: center;
    transition: opacity 0.3s ease; /* Animation d'apparition */
}

.card:hover .card-text {
    display: block; /* Afficher au survol */
}
