body {
    
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    display: flex;
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: left;
    color: #000;

}

p {
    font-size: 24px;
    color: #333;
}

.card-text {
    font-size: 14px;
    color: #fff;
    font-style: italic;
    display: none; /* Masquer le texte de description par défaut */
}

.card-title {
    font-weight: bold;
    color: #fff;
}

.card-hover-text {
    display: none; /* Masquer le texte de survol par défaut */
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    pointer-events: none; /* Pour éviter que le texte de survol interfère avec les clics */
    transition: opacity 0.3s ease; /* Transition pour une apparition en douceur */
}

.card:hover .card-text {
    display: block; /* Afficher le texte de description au survol */
}

.card:hover .card-hover-text {
    display: block; /* Afficher le texte de survol au survol */
}

#explore {
    color: #00A0B1;
    font-weight: bold;
}

#hmpage {
    margin-left: 300px;
    width: 100%;
    height: auto;
    max-width: 600px;
    margin-bottom: 20px;
    border-radius: 50%;
    box-shadow: -30.91px 20.91px 3px rgba(172, 226, 255, 1), -30.91px -15.91px 5px rgba(10, 131, 145, 0.39);
    object-fit: cover;
}

#popular {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0;
    font-size: 50px;
    font-weight: bold;
}

#check {
    color: #A1A1A1;
}

main {
    padding: 20px;
}

.stars {
    color: rgba(241, 194, 91, 0.822);
    letter-spacing: 3px;
}

.btn {
    border-radius: 25%;
    background-color: #00A0B1;
    align-self: flex-end;
}