/* Styles pour les titres */
#homepage .main-title {
    display: flex;
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: left;
    color: #000;
}

#popular {
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    font-weight: bold;
}

#explore {
    color: #00A0B1;
    font-weight: bold;
}

#homepage .card-title {
    font-size: 24px;
    font-weight: bold;
}

.check {
    color: #A1A1A1;
}

.check:hover {
    color: #070000;
    font-weight: bold;
}

/* Styles pour les images */
#imgHomepage {
    /* margin-left: 300px; */
    width: 100%;
    height: auto;
    max-width: 600px;
    margin-bottom: 20px;
    border-radius: 50%;
    box-shadow: -30.91px 20.91px 3px rgba(172, 226, 255, 1), -30.91px -15.91px 5px rgba(10, 131, 145, 0.39);
    object-fit: cover;
}


/* Styles pour les sections */
#homepage .content {
    padding: 20px;
}

/* Styles pour les destinations */
#homepage .destinations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Styles pour les cartes */
#homepage .card {
    position: relative;
    width: 100%;
    max-width: 300px; /* Largeur maximale des cartes */
    height: 400px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    transition: box-shadow 0.3s ease;
}

#homepage .card:hover {
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3), 0 10px 30px rgba(0, 0, 0, 0.29);
}

#homepage .card-img-top {
    width: 100%;
    height: 100%; /* Remplir toute la hauteur de la carte */
    object-fit: cover; /* Ajuster l'image sans déformation */
    transition: transform 0.3s ease; /* Animation pour la transformation de l'image */
    position: absolute;
}

#homepage .card:hover .card-img-top {
    transform: scale(1.1); /* Zoom sur l'image au survol */
}

#homepage .card-title-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond noir transparent */
    color: #ffffff; /* Couleur du texte */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Masquer par défaut */
    transition: opacity 0.3s ease; /* Animation d'apparition */
}

#homepage .card:hover .card-title-overlay {
    opacity: 1; /* Afficher au survol */
}

#homepage .card-title {
    position: relative;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    background: transparent; /* Fond transparent */
}

#homepage .card-text {
    font-size: 14px;
    color: #ffffff; /* Couleur du texte */
    font-style: italic;
    display: none; /* Masquer par défaut */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fond noir transparent */
    padding: 10px;
    text-align: center;
    transition: opacity 0.3s ease; /* Animation d'apparition */
}

#homepage .card:hover .card-text {
    display: block; /* Afficher au survol */
}

/* Styles pour les boutons */
#homepage .cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  #homepage .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
  }
  
  #homepage .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
  }
  
  #homepage .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  
  #homepage .cta:hover:before {
    width: 100%;
    background: #b1dae7;
  }
  
  #homepage .cta:hover svg {
    transform: translateX(0);
  }
  
  #homepage .cta:active {
    transform: scale(0.95);
  }
  