/* Resize the logo */
#logo {
    width: 10%;
}
/* CSS for the search bar */
#searchButton{
    background-color: transparent;
    box-shadow: 2px 2px 5px black;
    border-color: #000000;
}
/* Two classes for the color of the button */
#signup {
    background-color: #A4C7E0;
}

#login {
    background-color: #000000;
}

/* The shared code for both buttons */
#visitor .button {
  align-items: center;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

#visitor .button:hover,
#visitor .button:focus { 
  background-color: #16437E;
  color: #ffffff;
}

#visitor .button:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

#visitor .button:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}