{% extends 'base.html.twig' %}

{% block title %}Barcelna benvenudo!{% endblock %}

{% block body %}

<h1 class="dalal">Welcome to Barcelona! </h1>
<h2 class="dalal">Bienvenudo a Barcelona</h2>
<h3 class="taneu">Choose your activities:</h3>

<div class="tokyo">
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="assets/IMG/esGuell.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Guêl Parc</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. </p>
      </div>
      <p class="xaliss">Price: 60€</p>
      <div class="card-footer">
        <small class="text-body-secondary"><button class="cartess">Add to cart</button></small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="assets/IMG/esPicasso.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Picasso Museum of Barcelona</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
        <p class="xaliss">Price: 30€</p>
      <div class="card-footer">
        <small class="text-body-secondary"><button class="cartess">Add to cart</button></small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="assets/IMG/esCN.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Camp Nou Visit</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
        <p class="xaliss">Price: 120€</p>
      <div class="card-footer">
        <small class="text-body-secondary"><button class="cartess">Add to cart</button></small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="assets/IMG/esKayak.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Kayak</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <p class="xaliss">Price: 40€</p>
      <div class="card-footer">
        <small class="text-body-secondary"><button class="cartess">Add to cart</button> </small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="assets/IMG/EsAqua.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Aquarium of Barcelona</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <p class="xaliss">Price: 25€</p>
      <div class="card-footer">
        <small class="text-body-secondary"><button class="cartess">Add to cart</button></small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="assets/IMG/esPaddle.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Paddleboard</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. </p>
      </div>
      <p class="xaliss">Price: 70€</p>
      <div class="card-footer">
        <small class="text-body-secondary"><button class="cartess">Add to cart</button></small>
      </div>
    </div>
  </div>
</div>
</div>
<br>
<br>
<br>
<br>
{% endblock %}
