
body {
    background: linear-gradient(135deg, white 55%, #A4C7E0 82%, #A4C7E0 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

  .carousel-item img {
    height: 500px;
    object-fit: cover;
  }
