{% extends 'base.html.twig' %}

{% block title %}Hello NeedHelpController!{% endblock %}

{% block body %}
<br>
<div class="helper">
<div class="contact-container">
        <h3 class="conUs">Contact us</h3>
        <p>We are at your disposal throughout your experience!</p>
        <p>Available when you need them, our teams are committed to answering all your questions as soon as possible by phone and on social networks</p>
        
        <div class="contact-method">
            <img src="assets/IMG/phone-call.png" alt="Téléphone">
            <div class="contact-info">
                <p>08 09 01 02 03</p>
                <p>Monday to Friday from 10 am to 6 pm</p>
            </div>
        </div>

        <div class="contact-method">
            <img src="assets/IMG/twitter.png" alt="Twitter">
            <div class="contact-info">
                <p>GoLobe</p>
                <p>Monday to Friday from 10 am to 6 pm</p>
            </div>
        </div>

        <div class="contact-method">
            <img src="assets/IMG/instagramC.png" alt="Instagram">
            <div class="contact-info">
                <p>GoLobe</p>
                <p>Monday to Friday from 10 am to 6 pm</p>
            </div>
        </div>

        <div class="contact-method">
            <img src="assets/IMG/facebookC.png" alt="Facebook">
            <div class="contact-info">
                <p>GoLobe</p>
                <p>Monday to Friday from 10 am to 6 pm</p>
            </div>
        </div>
    </div>
</div>
<br><br>
{% endblock %}
