<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        
        {% block stylesheets %}     
        <link rel="stylesheet" href="assets/CSS/bootstrap.min.css">
        <link rel="stylesheet" href="assets/CSS/homepage.css">
        <link rel="stylesheet" href="assets/CSS/navbar.css">
        <link rel="stylesheet" href="assets/CSS/footer.css">
        <link rel="stylesheet" href="assets/CSS/order.css">
        <link rel="stylesheet" href="assets/CSS/adminDashboard.css">
        <link rel="stylesheet" href="assets/CSS/help.css">
        <link rel="stylesheet" href="assets/CSS/activitie.css">
        <link rel="stylesheet" href="assets/CSS/rgpd.css">
        <link rel="stylesheet" href="assets/CSS/notice.css">
        {% endblock %}

        {% block javascripts %}
            <script src="assets/JS/bootstrap.min.js"></script>
            <script src="https://kit.fontawesome.com/fc2b28fd60.js" crossorigin="anonymous"></script>
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>

        {% include "navbar/navbar.html.twig" %}
        {% block body %}
        {% endblock %}
        {% include "footer/footer.html.twig" %}

    </body>
</html>
