{% extends 'base.html.twig' %}

{% block title %}Hello DestinationController!{% endblock %}




{% block body %}
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="assets\IMG\port-barcelona-evening-spain.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="assets\IMG\19876777-aerien-vue-de-barcelone-ville-horizon-et-sagrada-familia-cathedrale-a-le-coucher-du-soleil-photo-2384722782.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets\IMG\Barcelone_Espagne_Gorgeous-and-amazing-Park-Guel-in-Barcelona-min-1-2122104817.jpeg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
 
        <p class="card-text"> <strong>Barcelogne</strong> : Visité une des villes les plus ensoleilé d europe.</p> <br>
        


<h1>Description :</h1>
<p> Située sur la côte méditerranéenne, Barcelone est la deuxième ville d'Espagne après Madrid. 
  La capitale de la Catalogne, connue pour son architecture unique, ses plages,
   sa vie nocturne animée et sa riche culture, accueille chaque année 
   quelque 24 millions de touristes. Paradoxalement, ses 1,6 million d'habitants
    gèrent parfaitement ces visiteurs, car la ville est étendue et ses quartiers touristiques 
    très centraux.La meilleure période pour découvrir Barcelone se situe entre le printemps et le début de l'été.
     Il est préférable d'éviter l'été en raison des températures élevées, à moins que vous ne souhaitiez adopter 
     le rythme local en faisant une sieste entre 14h et 18h pour échapper à la chaleur écrasante. Le mois de septembre
      et octobre offrent également des conditions agréables, bien que le climat puisse être changeant, avec de possibles
       précipitations. En hiver, la vie urbaine se calme et les températures restent douces, mais il peut faire assez froid, 
       parfois piquant.</p>

      </div>
    

      <div class="row row-cols-1 row-cols-md-3 g-4 ">
        <div class="col ">
          <div class="card h-100 ">
            <img src="assets\IMG\catalognia Rigoletto.jpg" class="card-img-top" alt="Catalonia Rigoletto">
            <div class="card-body">
              <h5 class="card-title">Catalonia Rigoletto</h5>
              <div class="star-rating me-3">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
              <p class="card-text">Situé à moins de dix minutes à pied Maria Cristina Metro Station, l'hôtel fournit un endroit idéal à ses clients lors de leur visite de Barcelone. 
                Il comprend également un service de location de voitures, une réception ouverte 24h/24 et une piscine extérieure.</p>
              <p class="card-text"><strong>A partir de : $108</strong></p>
              <div class="d-flex align-items-center">
                
               
              </div>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary"><button class="btn btn-primary">Details</button></small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="assets\IMG\Sercotelamisterarthotel.jpg" class="card-img-top" alt="oups">
            <div class="card-body">
              <h5 class="card-title">Sercotel Amister Art Hotel</h5>
              <div class="star-rating me-3">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
              <p class="card-text">Située Barcelone, Sercotel Amister Art Hotel se trouve à quelques minutes de route Plaza Catalunya et La Rambla. Les installations populaires de cet établissement 4 étoiles comprennent une terrasse sur le toit et une connexion Wi-Fi gratuite.</p>
              <p class="card-text"><strong>A partir de : $399</strong></p>
              <div class="d-flex align-items-center">
                
                
              </div>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary"><button class="btn btn-primary">Details</button></small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="assets\IMG\execampus.jpg" class="card-img-top" alt="Norvege">
            <div class="card-body">
              <h5 class="card-title">Exe Campus</h5>
               <div class="star-rating me-3">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
              <p class="card-text">Situé à Cerdanyola del Vallès, le Exe Campus se trouve à moins de 40 minutes de route de l'Aéroport international de Barcelone-El Prat et comprend un accès internet sans fil gratuit.
                 Il propose une solution d'hébergement 4 étoiles avec des chambres disposant de la climatisation.</p>
              <p class="card-text"><strong>A partir de: $99</strong></p>
              <div class="d-flex align-items-center">
               
              
              </div>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">  <button class="btn btn-primary">Details</button></small>
            </div>
          </div>
        </div>
      </div>
      
























    </div>
  
  



{% endblock %}
